{# templates/registration/confirm_email.twig #}
{% extends 'base.html.twig' %}

{% block title %}Confirm Your Email{% endblock %}

{% block body %}
    <div>
        <h1>Please Confirm Your Email</h1>
        <p>
            Thank you for registering! We've sent you an email with a link to confirm your email address.
            Please click the link in the email to complete the registration process.
        </p>
    </div>
{% endblock %}
