<form method="post" action="{{ path('app_Service_delete', {'id': Service.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Service.id) }}">
    <button class="btn btn-danger" style="border: 2px solid red;">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</form>
