{% extends 'base.back.html.twig' %}

{% block title %}Modifier le service{% endblock %}

{% block body %}
    <h1>Modifier le service</h1>

    {{ include('/back/Service/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    
   <a href="{{ path('app_Service_back_index') }}" class="btn btn-primary" style="background-color: blue; width: 200px;">Retour à la liste</a>

    {{ include('/back/Service/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
    
{% endblock %}
