<form method="post" action="{{ path('app_Service_delete', {'id': Service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Service.id) }}">
    <button class="btn">Delete</button>
</form>
